<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

  <head>
    <meta charset="utf-8">
    <title>Comparador</title>
    <meta name="Autores" content="Claudia de la Vieja y Noelia Carrasco Vilar">    
    
<style type = "text/css">

h1{
font-size: 500%;
text-align: center;
}

h2{
font-size: 100%;
text-align: center;
font-weight: normal;
}

h3{
font-size: 50%;
text-align: center;
font-weight: normal;
}

form{
text-align: center;
font-size: 300%;

}

section{
width: 100%;
float: left;
}

img{
width: 25%;
}

section{
  display: block;
  text-align: center;
}

</style>
  </head>

  <body>
    <h1>Comparador de Seguros</h1>
  

    <form class = "formulario" action="/busqueda" method="post">
    <h2>Introduzca el tipo de Seguro</h2>
    <h3>Se compara entre Santalucía, Allianz y El Corte Inglés Seguros</h3>

    <input style="width:200px;height:35px" type="text" name="producto" class="control" placeholder="Escriba aqu&iacute; el Tipo de Seguro">
    <input type="submit" value="Buscar"  class="boton" id="bot">
    </form>

    <section>
      <img src="https://images.vexels.com/media/users/3/269751/isolated/preview/9fc06b254d91308557752d49fda2a9a3-lindo-personaje-de-dibujos-animados-de-ataaod.png">
    </section>

  </body>
</html>